#div-gpt-ad-1585123925672-0{display: none;}
#div-gpt-ad-1585126204480-0{display: none;}
#div-gpt-ad-1585125824987-0{display: none;}
#div-gpt-ad-1585126727521-0{display: none;}
#div-gpt-ad-1585282468498-0{display: none;}
#div-gpt-ad-1585374150797-0{display: none;}
#footer{display: none;}
.p-footer-copyright{display: none;}
.js-prefixListenContainer{display: none; }
#js-XFUniqueId4{display: none}